body, *{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
.square{
	width: 2em;
	height: 2em;
	padding-top: .5em;
	display: inline-block;
	border: 1px solid black;
	text-align: center;
	box-sizing: border-box;
	vertical-align: top;
}
.innerboard{
	display: inline-block;
	border: 2px solid grey;
	text-align: center;
	box-sizing: border-box;
	vertical-align: top;
}
.row{

}
.winner1{
	background: limegreen;
	border-color: green;
}
.winner-1{
	background: pink;
	border-color: red;
}
.winner0{
	background: lightgray;
	border-color: gray;
}
.color0{
	color:black;
}
.color1{
	color:green;
}
.color-1{
	color:red;
}
.valid{
	border-color: gold;
}
ul{
	margin-top: 1em;
}
li{
	list-style-position: outside;
	margin-left: 30px;
}
.Game{
	min-width: 330px;
	padding-right: 20px;
	box-sizing: border-box;
	margin-bottom: 30px;
	flex: 1;
}
.Rules{
	min-width: 400px;
	flex: 3;
}
.GameContainer{
	display: flex;
	flex-wrap: wrap;
}